
:root {
    --content-width: 980px;
    /* color */
    --bg-color: #2b2b2b;
    --bg-color-dark: #161616;
    --header_footer: 	rgb(26,30,31);

    --text-lighter: rgb(244,244,244);
    --text-secondary: #00aeef;

    /*font */
    --big-font-size: 2.625rem;
    --small-font-size: 0.875rem;

    --regular: 500;
    --bold: 900;

    /* transition */
    --trans: color .8s ease 0s;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: 'TBC X';
    background-color: var(--bg-color);
    color: var(--text-lighter);
}
h4 {
    font-size:24px;
    font-weight: var(--regular);
}

h5 {
    font-size: 18px;
    font-weight: var(--regular);
    line-height: 1.6em;
}

.header {
    background-color: var(--header_footer);
    width: 100%;
    transition: 0.4s;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
}
.header.scrolled {
    background-color: rgba(34, 34, 34, 0.95);
}
.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--content-width);
    margin: 22px 0;
}
.nav-logo img {
    height: 40px;
}
.nav-list {
    display: flex;
    gap: 48px;
    justify-content: baseline;
}
.nav-item a {
    color: var(--text-lighter);
    font-size: var(--small-font-size);
    transition: var(--trans);
    font-weight: var(--regular);
}
.nav-item a:hover, .nav-item a.active  {
    color: var(--text-secondary)
}

/* hero-section */
.hero-section {
    background-image: url("../img/cover-image.webp");
    background-color: #cccccc;
    height: 352px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 84px;
}
.hero-section h1 {
    font-size: var(--big-font-size);
    width: var(--content-width);
    line-height: 1.6em;
    font-weight: bolder;
    font-weight: var(--bold);
}
.hero-section span {
    font-size: 34px;
}


/* info-section */
.info-section div{
    width: var(--content-width);
    padding: 57px 0;
    flex-direction: column;
}
.info-section h3 {
    width: 99%;
    font-size: 1.75rem;
    line-height: 2.8rem;
    margin-bottom: 43px;
}
.cta-btn {
    color: var(--text-secondary);
    font-family: 'TBC Sailec';
    font-weight: bold;
    font-size: 20px;
    transition: var(--trans);
}
.info-section a:hover {
    color: rgb(158, 158, 158)
}

/* course */
.course-section {
    background-color: var(--bg-color-dark);
    padding: 34px 0 58px;
}

.section_content {
    width: var(--content-width);
    display: flex;
    flex-direction: column;
}

.card-list {
    margin-top: 67px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px 0;
}

.card-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:300px;
    height: 414px;
    margin-top: -2px;
    border-radius: 6px;
    border: 1px solid rgba(85, 85, 85, 1);
    padding-bottom: 21px;
}

.card-image {
    height: 150px;
    border-radius: 6px;
}

.card-content {
    flex-direction: column;
    display: flex;
    height: 179px;
}

.card-info {
    font-size: var(--small-font-size);
    font-weight: var(--regular);
    height: 80px;
}
.card-title,
.card-info,
.card-button {
    margin-top: 25px;
    margin-left: 24px;
}

.card-button {
    line-height: 37px;
    font-size: 16px;
    color: var(--text-secondary);
    font-weight: 500;
    display: flex;
    align-items:center;
    gap: 8px;
    transition: var(--trans);
}
.card-button:hover {
    color: #0489b9;
}

.arrow-icon img {
    width: 16px;
}





/* partner-section */
.partner-section {
    padding: 36px 0;
    position: relative;
}


#carousel-container {
    display: flex;
    transition: opacity 0.5s ease-in-out;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 80px;
    margin-top: 32px;
  }
/* animation */
  @keyframes fadeOut {
    0% {
      opacity: 1;
      visibility: visible;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
  
  .fade-out {
    animation: fadeOut 0.5s ease-in-out;
  }
  
  .fade-in {
    opacity: 1;
    visibility: visible;
  }
  /* end animation */

  
  .dots {
    display: flex;
    margin: 32px 0 50px;
  }
  
  .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #ffffff;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .dot.active {
    background-color: #9e9e9e;
  }


.arrow-button {
    position: absolute;
    top: 50%;
    transform: translateY(0%);
    cursor: pointer;
}


#arrow-left {
    left: 100px;
}

#arrow-right {
    right: 100px;
    transform: scaleX(-1);
}



/* faq-section */
.faq-section {
    background-color: var(--bg-color-dark);
    padding: 75px 0;
}

.faq-flex {
    display: flex;
    justify-content: space-between;
}



/* accordion */
.info-accordion {
    margin-top: 10px;
}
.info-accordion-item {
    border-bottom: 1px solid rgb(53, 49, 49);
    padding: 15px 0;
}
.info-accordion-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 80px;
}
.info-accordion-arrows img {
    height: 24px;
    width: 24px;
    transition: 0.3s;
    padding: 6px;
}

.info-accordion-arrows {
    margin-left: auto;
    transition: 0.3s;
}
.info-accordion-arrows img {
    transition: 0.4s;
}
.info-accordion-description {
    font-size: var(--small-font-size);
    padding: 1.25rem 2.5rem 1.875rem 0;
    line-height: 2;
    display: flex;
    flex-direction: column;
}
.info-accordion-description_li {
    margin: 2px 0 3px 1.5rem;
    font-size: var(--small-font-size);
    line-height: 2;

}
.info-accordion-description_li span {
    font-weight: 600;
}
.info-accordion-content {
    overflow: hidden;
    height: 0;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


.accordion-open .info-accordion-arrows img {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
}

/* footer */
.footer {
    padding: 64px 0 44px;
    background-color: var(--header_footer);
    gap: 24px;
}
  
  .footer-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--content-width);
  }
  .footer-line:last-child {
    align-items: flex-end;
  }
  
  .footer-line img {
    height: 30px;
    width: auto;
  }
  
  .social-icons {
    display: flex;
    gap: 8px

  }
  
  .social-icon img {
    height: 39px;
    width: 39px;
  }
  
  .footer-info {
    display: flex;
    flex-direction: column;
    gap:18px;
  }
  .footer-info a, span {
    font-size: var(--small-font-size);
  }
  
  .message-button {
    height: 39px;
    font-size: 16px;
    font-family: "TBC X";
    font-weight: var(--regular);
    padding: 0px 32px;
    background-color: var(--text-secondary);
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: var(--trans);
  }
  .message-button:hover {
    background-color: var(--text-lighter);
    color: var(--bg-color)
  }


/* Scrollbar */
::-webkit-scrollbar {
    width: 0.6rem;
    border-radius: 0.5rem;
    background-color: var(--text-lighter);
}
::-webkit-scrollbar-thumb {
    background-color: var(--text-secondary);
    border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--bg-color);
    border-radius: 0.5rem;
}